.venv
.idea
*.pyc
Student.txt
django_project/.env
django_project/media/profile_pics/MD_Nayamul_Islam.jpg
django_project_bloging_mysql/identifier.sqlite
django_project_bloging_mysql/media/profile_pics/Image20260205151040.jpg
django_project_bloging_mysql/media/profile_pics/Image20260205151040_uLB4OSl.jpg
django_project_bloging_mysql/media/profile_pics/MD_Nayamul_Islam.jpg
django_project_bloging_mysql/media/profile_pics/Screenshot_2026-01-14_220211.png
django_project_bloging_mysql/media/profile_pics/vecteezy_photo-of-a-siberian-tiger_21164304.jpg
*media*